.menu {
  .bp3-drawer-body {
    background-color: $primary;
  }
  .menu-item {
    position: relative;
    color: $white;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 0;

    transition: color 0.5s;
    cursor: grab;
    .icon {
      padding-right: 10px;
      padding-bottom: 2px;
    }
    .menu-item-content {
      display: flex;
      .right {
        flex-grow: 1;
        text-align: right;
      }
    }
  }

  .menu-item.hover {
    background-color: $revertActiveColor;
    transition: background-color 0.5s;
  }

  .menu-item.select {
    background-color: white;
    color: $primary;
    border-left: 3px solid $secondary;
  }
  .menu-item.select.hover {
    color: $primary;
  }
}

.menu-horizontal {
  display: flex;
  .menu-item {
    position: relative;
    color: $white;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 0;
    transition: color 0.5s;
    cursor: grab;
    .icon {
      padding-right: 10px;
      padding-bottom: 2px;
    }
    .menu-item-content {
      display: flex;
      .right {
        flex-grow: 1;
        text-align: right;
      }
    }
  }

  .menu-item.hover {
    background-color: $revertActiveColor;
    transition: background-color 0.5s;
  }

  .menu-item.select {
    border-bottom: 3px solid $secondary;
  }
  .menu-item.select.hover {
    color: $primary;
  }
}
