.slide-item {
    flex: 1 1 auto;
    width: 25%;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}

.slide-item:first {
    padding: 5px 5px 5px 0;
}

.slide-item:last {
    padding: 5px 0 5px 5px;
}

.slide-item > div {
    border: 1px solid #d3d4d6;
    border-radius: 10px;
    flex: 1 1 auto;
}

.slide-item > div > img {
    border-radius: 10px;
}
