.slide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 10px 10px;
}

.slide-item {
  flex: 1 1 auto;
  min-width: 320px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  .slide-item-image {
    border-radius: $radius;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .header {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: $light-gray5;
    font-weight: 600;
    font-size: 16px;
    .post-meta {
      font-size: 12px;
    }
  }
}

.slide-item:first {
  padding: 5px 5px 5px 0;
}

.slide-item:last {
  padding: 5px 0 5px 5px;
}

.slide-item > div {
  display: inline-block;
  position: relative;
  border: 1px solid #d3d4d6;
  border-radius: $radius;
  flex: 1 1 auto;
  background-image: linear-gradient(
    0deg,
    #000,
    rgba(0, 0, 0, 0.8) 25%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.4) 75%,
    rgba(0, 0, 0, 0.2)
  );
}

.slide-item > div > img {
  border-radius: 10px;
}
