@import "variables";
@import "colors";
@import "post";
@import "slide";
@import "layout";
@import "menu";
@import "input";
@import "comment";
@import "navbar";
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ql-container.ql-snow {
  background-color: white;
}

.bp3-tag {
  margin: 1px;
}
.bp3-navbar-heading {
  font-weight: 800;
}
.bp3-navbar {
  background-color: $primary;
  border-bottom-color: $secondary;
  border-bottom-style: "solid";
  border-bottom-width: "4px";
}
.app-content {
  margin-top: 60px;
}

.inverse {
  color: white;
  background-color: $primary;
}

body {
  background-color: $gray5;
}
