@import "~@blueprintjs/core/lib/scss/variables";

$primary: $blue3;
$secondary: $red5;
$headerColor: $blue1;
$textColor: $dark-gray5;
$borderColor: #48aff066;
$borderColor2: #ff737366;
$metaColor: $gray1;

$contentActiveColor: #48aff022;
