.left-sidebar {
  border-right: 1px solid #d3d4d6;
  margin: 2px 0;
  padding: 10px 5px 5px 5px;
}

.right-sidebar {
  border-left: 1px solid #d3d4d6;
  margin: 2px 0;
  padding: 10px 5px 5px 5px;
}

.content {
  padding: 0 10px;
}
